* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2, h3, h4 {
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
    color: #696969;
}